<h1>Articles</h1>

<ul>
  <% @clients.each do |client| %>
    <li>
      <%= client.name %>
    </li>
    <li>
      <%= client.address %>
    </li>
    <li>
      <%= client.company %>
    </li>
    <li>
      <%= client.phone_number %>
    </li>
  <% end %>
</ul>
