<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Booking Confirmation</h1>
        <p> <%= @customer.customer_name %> Your booking  has been confirmed.</p>

    <p>Your booking with ID <%= @booking.id %> has been confirmed.</p>
    <p>Check-in date: <%= @booking.check_in %></p>
    <p>Check-out date: <%= @booking.check_out %></p>
  </body>
</html>